<link href="/static/home/css/mybtn.css" rel="stylesheet">
{% if num_pages > 1 %}
    <p>
        {% for i in pageList %}
            {% if i == '...' %}
                <span>{{ i }}</span>
            {% else %}
                {% if i == page %}
                    <a href="{{ i }}{{ queryString }}" class="mybtn mybtn-lg mybtn-primary">{{ i }}</a>
                {% else %}
                    <a href="{{ i }}{{ queryString }}" class="mybtn mybtn-lg mybtn-default">{{ i }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </p>
{% endif %}