<link href="/static/home/css/mybtn.css" rel="stylesheet">
<span v-for="i in pageList">                       
    <span v-if=" i == '...' ">
         {[i]}&nbsp;
    </span>
    <span v-else>                          
        <span v-if=" i == page ">                               
            <a v-bind:href="'?format=json&'+queryString+'&page='+i"  class="mybtn mybtn-lg mybtn-primary">  {[i]} </a>&nbsp;
        </span>
        <span v-else>                                             
            <a v-bind:href="'?format=json&'+queryString+'&page='+i" class="mybtn mybtn-lg mybtn-default"> {[i]} </a>&nbsp;
        </span>
    </span>                                 
</span>

